.button {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border: 0;
  cursor: pointer;
  line-height: 14px;
}
.button--standard {
  color: white;
  background-color: #101d21;
  padding: 10px 20px
}
.button--icon {
  width: 36px;
  height: 36px;
  color: white;
  stroke: white;
  fill: white;
  background-color: #101d21;
  border-radius: 50%;
}
